{% extends "home.html" %}
{% block body %}

<div class="card mt-1">
    <!-- <div class="card-header bg-success text-white" height="50%">
        <h3 class="card-title">Add a course</h3>
    </div> -->
    <div class="card-block bg-light pt-2 pb-2 pl-2 pr-2">
        <form method="post">
            
            <div class="form-row">
                <div class="form-group col-md-2">
                    <strong>{{ form.name.label }}</strong> {{ form.name(class="form-control") }}
                    {% if form.name.errors %}
                        <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>

                <div class="form-group col-md-5">
                    <strong>{{ form.instructor.label }}</strong> {{ form.instructor(class="form-control") }}
                    {% if form.instructor.errors %}
                        <ul class="errors">{% for error in form.instructor.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
                
                <div class="form-group col-md-1">
                    <strong>{{ form.letter_grade.label }}</strong> {{ form.letter_grade(class="form-control") }}
                    {% if form.letter_grade.errors %}
                        <ul class="errors">{% for error in form.letter_grade.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>

                <div class="form-group col-md-1">
                    <strong>{{ form.sign_grade.label }}</strong> {{ form.sign_grade(class="form-control") }}
                    {% if form.sign_grade.errors %}
                        <ul class="errors">{% for error in form.sign_grade.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
                
                <div class="form-group col-md-2">
                    <strong>{{ form.quarter.label }}</strong> {{ form.quarter(class="form-control") }}
                    {% if form.quarter.errors %}
                        <ul class="errors">{% for error in form.quarter.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
                
                <div class="form-group col-md-1">
                    <strong>{{ form.year.label }}</strong> {{ form.year(class="form-control") }}
                    {% if form.year.errors %}
                        <ul class="errors">{% for error in form.year.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>  

            </div>
            
            <div class="form-row">
                <div class="form-group col-md-9">
                    <strong>{{ form.thoughts.label }}</strong> {{ form.thoughts(class="form-control") }}
                    {% if form.thoughts.errors %}
                        <ul class="errors">{% for error in form.thoughts.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
            </div>
            {{ form.submit(class="btn btn-success border-secondary") }}
            {{ form.cancel(class="btn btn-light border-secondary", formnovalidate=True) }}
        </form>
    </div>
</div>

{% endblock %}