<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            .body {
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                max-width: 850px;
            }
            .actions {
                border: none;
                padding: 5px;
                /* color: red; */
                background-color: transparent;
                cursor: pointer;
            }
        </style>
    </head>

    <body>
        <div class="body">
            <div class="card mt-3">
                <div class="card-header bg-info text-white">
                    <h3 class="card-title">Your Courses</h3>
                </div>
                <div class="card-block bg-light">
                    <table class="table table-sm table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Actions</th>
                                <th>Name</th> 
                                <th>Instructor</th>
                                <th>Grade</th>
                                <th>Quarter</th>
                                <th>Thoughts</th>
                            </tr>
                        </thead>
                        {% for course in courses %}
                        <tr>
                            <td>
                                <form method="post">
                                    <div class="btn-group" role="group">
                                        <button type="submit" class="form-control actions" name="edit" value="{{ course[0] }}"><i class="material-icons">edit</i></button>
                                        <button type="submit" class="form-control actions" name="delete" value="{{ course[0] }}"><i class="material-icons">delete</i></button>
                                    </div>
                                </form>
                            </td>
                            <td>{{ course[1] }}</td>
                            <td>{{ course[2] }}</td>
                            <td>{{ course[3]+course[4] }}</td>
                            <td>{{ course[5]+course[6] }}</td>
                            <td>{{ course[7] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            {% if home %}
            <form method="post">
                <div class="btn-group-sm mt-1">
                    <button type="submit" class="btn btn-success" name="route_add"><i class="material-icons">add</i></button>
                </div>
            </form>
            {% endif %}

            {% block body %}
            {% endblock %}
        
        </div>
    </body>

</html>