<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        h1.title {
            padding-top: 30px;
            padding-bottom: 10px;
        }
        img.half {
            height: 50%;
            width: 50%;
        }
        img.third{
            height: 33%;
            width: 33%;
        }
        img.quarter {
            height: 25%;
            width: 25%;
        }
        .landing {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>

<html>
    <body>

    <h1 class="title" align="center">course history</h1>

    <div align="center">    
        <img class="quarter" src="../static/skooby.jpg" alt="i love dog"></img>
    </div>

    <form method='post'>
    <div align="center" class="landing">
        <button type="submit" class="btn btn-outline-primary btn-lg">my course history</button>
    </div>
    </form>

    </body>

</html>